body{
    background-color: black;
}

body{
    background-color: black;
}

h1{
    font-size: 50px;
    font-style: italic;
    color: rgb(48, 219, 211);
    text-align: center;
    text-shadow: 0 0 60px rgb(48, 219, 211),
                 0 0 60px rgb(48, 219, 211),
                 0 0 60px rgb(48, 219, 211),
                 0 0 80px rgb(48, 219, 211),
                 0 0 100px rgb(48, 219, 211),
                 0 0 120px rgb(48, 219, 211),
                 0 0 200px rgb(48, 219, 211),
                 0 0 300px rgb(48, 219, 211),
                 0 0 400px rgb(48, 219, 211);
   animation: ani 10s linear infinite;              
}

@keyframes ani{
    0%{
        transform: rotate(190deg);
        font-size: 50px;
    }

    20%{
        transform: rotate(280deg);
        font-size: 50px;
    }

    40%{
        transform: rotate(700deg);
        font-size: 50px;
    }

    60%{
        transform: rotate(3600deg);
        font-size: 50px;
    }

    80%{
        transform: rotate(450deg);
        font-size: 50px;
    }

    100%{
        transform: rotate(720deg);
        font-size: 50px;
    }
}

h1:hover{
    text-decoration: #e6da34;
}

marquee{
    font-size: 35px;
    font-weight: 800;
    color: #6842bf;
    font-family: sans-serif;
    text-shadow: 5px 5px 10px #f0d9d9;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active{
    background-color: #04AA6D;
}

li a:hover:not(.active) {
    background-color: #111;
}

.aman{
    display: flex;
    width: 100%;
    opacity: 0.8s;
    background-color: black;
    margin-bottom: 10px;
}

.aman:hover{
    opacity: 0.9s;
    transition: 10s;
    background-color: blue;
}
.a{
    margin: 30px;
    border: 5px solid#ff0000;
    box-shadow: 4px 4px 4x 4px #ff00d4;
}
.a:hover{
    box-shadow: 4px 4px 4x 4px goldenrod;
    transition: 4s;
}

.a p{
    width: 200px;
    text-align: center;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: white;
}


.raj{
    display: flex;
    width: 100%;
    opacity: 0.8s;
    background-color: blue;
    margin-bottom: 10px;
}

.raj:hover{
    opacity: 0.9s;
    transition: 10s;
    background-color: yellow;
}
.b{
    margin: 30px;
    border: 5px solid#ff0000;
    box-shadow: 4px 4px 4x 4px #ff00d4;
}
.b:hover{
    box-shadow: 4px 4px 4x 4px goldenrod;
    transition: 4s;
}

.b p{
    width: 200px;
    text-align: center;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: white;
}



.aniket{
    display: flex;
    width: 100%;
    opacity: 0.8s;
    background-color: yellow;
    margin-bottom: 10px;
}

.aniket:hover{
    opacity: 0.9s;
    transition: 10s;
    background-color: blue;
}
.c{
    margin: 30px;
    border: 5px solid#ff0000;
    box-shadow: 4px 4px 4x 4px #ff00d4;
}
.c:hover{
    box-shadow: 4px 4px 4x 4px goldenrod;
    transition: 4s;
}

.c p{
    width: 200px;
    text-align: center;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: white;
}



.raaj{
    display: flex;
    width: 100%;
    opacity: 0.8s;
    background-color: rgb(69, 24, 233);
    margin-bottom: 10px;
}

.raaj:hover{
    opacity: 0.9s;
    transition: 10s;
    background-color: black;
}
.d{
    margin: 30px;
    border: 5px solid#ff0000;
    box-shadow: 4px 4px 4x 4px #ff00d4;
}
.d:hover{
    box-shadow: 4px 4px 4x 4px goldenrod;
    transition: 4s;
}

.d p{
    width: 200px;
    text-align: center;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: white;
}
